@model IEnumerable<OPIGESHOP.Models.AppUsers>
@{

    ViewData["Title"] = "Index";
}

<h1>Users Profile</h1>

<p>
    <a asp-action="Create" class="text-center text-black btn-light btn btn-outline-info mt-auto p"> Add Users</a>
</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
    @foreach (var item in Model)
    {
    <div class="col mb-3">
        <div class="card">
                <!--<img src="https://www.bootdey.com/image/340x120/FFB6C1/000000" alt="Cover" class="card-img-top">
                -->
            <div class="card-body text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)</h5>
                    <p class="text-secondary mb-1"> @Html.DisplayFor(modelItem => item.Email)</p>
                  
                    <p class="text-muted font-size-sm font-monospace">  @Html.DisplayFor(modelItem => item.Street)</p>
                    <p class="text-muted font-size-sm font-monospace"> @Html.DisplayFor(modelItem => item.State) , @Html.DisplayFor(modelItem => item.Country)</p>
            </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-center text-black btn-light btn btn-outline-primary mt-auto"> Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-center text-black btn-light btn btn-outline-danger mt-auto">Delete</a>
                    </div>
                </div>
        </div>
    </div>
    }
</div>
